<div class="editor">
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="inp">
            <input formControlName="title" matInput placeholder="Block title" [value]="tb.title">
            <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">You must enter a value.</mat-error>
        </mat-form-field>
        <button mat-button color="accent" type="submit" [disabled]="form.invalid" class="btn">Save</button>
        <button mat-button color="warn" (click)="onCancel()" class="btn">Cancel</button>
    </form>
</div>
